Repository stevenfollis/techorama-be-2019: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/agent/linux/azure-pipelines.yml, pipelines/app/azure-pipelines.yml, pipelines/azure-pipelines.yml

Path conditions:
  pipelines/agent/linux/azure-pipelines.yml: any of: pipelines/agent/linux
  pipelines/app/azure-pipelines.yml: any of: pipelines/app
  pipelines/azure-pipelines.yml: any of: pipelines

Updated heading
  pipelines/app/aspnetcore/aspnetapp/Views/Home/Index.cshtml
Due: pipelines/app/azure-pipelines.yml, pipelines/azure-pipelines.yml

Added buildx demo
  pipelines/demos/buildx/Dockerfile
  pipelines/demos/buildx/hello.go
  pipelines/demos/buildx/steps.sh
Due: pipelines/azure-pipelines.yml

Removed docker app
  pipelines/agent/linux/Dockerfile
Due: pipelines/agent/linux/azure-pipelines.yml, pipelines/azure-pipelines.yml

Added a standard Dockerfile version
  pipelines/app/aspnetcore/Dockerfile.standard
Due: pipelines/app/azure-pipelines.yml, pipelines/azure-pipelines.yml

Reverted title
  pipelines/app/aspnetcore/aspnetapp/Views/Home/Index.cshtml
Due: pipelines/app/azure-pipelines.yml, pipelines/azure-pipelines.yml

Added readme
  README.md
Due: none

numbers are hard
  pipelines/agent/linux/Dockerfile
Due: pipelines/agent/linux/azure-pipelines.yml, pipelines/azure-pipelines.yml

Update Index.cshtml
  pipelines/app/aspnetcore/aspnetapp/Views/Home/Index.cshtml
Due: pipelines/app/azure-pipelines.yml, pipelines/azure-pipelines.yml

Updated to 1809 & MCR
  pipelines/app/aspnetcore/Dockerfile.nanoserver-sac1809
Due: pipelines/app/azure-pipelines.yml, pipelines/azure-pipelines.yml

Windows
  pipelines/agent/windows/docker-compose.yml
  pipelines/app/azure-pipelines-windows.yml
  pipelines/demos/docker-app/steps.sh
Due: pipelines/app/azure-pipelines.yml, pipelines/azure-pipelines.yml

Update azure-pipelines-windows.yml for Azure Pipelines
  pipelines/app/azure-pipelines-windows.yml
Due: pipelines/app/azure-pipelines.yml, pipelines/azure-pipelines.yml

Removed values
  pipelines/agent/windows/docker-compose.yml
Due: pipelines/azure-pipelines.yml

Update azure-pipelines.yml for Azure Pipelines
  pipelines/app/azure-pipelines.yml
Due: pipelines/app/azure-pipelines.yml, pipelines/azure-pipelines.yml

Updated title
  pipelines/app/aspnetcore/aspnetapp/Views/Home/Index.cshtml
Due: pipelines/app/azure-pipelines.yml, pipelines/azure-pipelines.yml

Tweaks
  pipelines/agent/linux/Dockerfile
Due: pipelines/agent/linux/azure-pipelines.yml, pipelines/azure-pipelines.yml

Added slides
  pipelines/slides/Supercharging your DevOps pipelines with Docker Containers.pdf
Due: pipelines/azure-pipelines.yml

Create azure-pipelines.yml
  pipelines/agent/windows/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml
